* {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

aside {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  width: 100%;
  margin-top: 4rem;
}

.search-job-container {
  display: block;
  width: 100%;
}

.positions-number {
  display: flex;
  justify-content: center;
}

.form-field-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-container {
  margin: 2rem auto;
  width: 70%;
}

.job-result-output-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.job-result-output {
  border-radius: 2rem;

  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.job-details {
  display: block;

  align-items: center;
  outline: 0.025rem solid gray;
  border-radius: 2rem;

  margin-top: 2rem;
  padding: 2rem;
}

.job-info-chip {
  outline: 0.025rem solid gray;
  border-radius: 0.5rem;
  border: none;
  background-color: unset;

  padding: 1rem 1rem;
  margin: 1rem 1rem 0rem 0rem;
}

.company-logo {
  width: 10%;
  height: 10%;
}

.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tech-item {
  display: inline-flex;
  align-items: center;
  outline: 0.025rem solid gray;
  border-radius: 0.5rem;
  border: none;
  background-color: unset;

  padding: 0.5rem 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-left: 0rem;
}

.tech-stack-logo {
  width: 1.5rem;
  height: 1.5rem;

  padding-left: 0.005rem;
  margin-right: 0.5rem;
}

.error-message {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-result-output-container p:first-child {
  margin-left: -1rem;
}

input {
  font-size: large;
  border: 0.15rem solid gray;
  border-radius: 2rem;

  align-items: center;
  padding: 1rem;
  width: 40%;
}

button {
  outline: 0.15rem solid gray;
  border-radius: 2rem;
  margin-left: 1rem;
}

input:hover,
.job-details:hover {
  background-color: rgb(59, 59, 59);
  cursor: pointer;
}

.job-info-chip:hover,
.tech-item:hover {
  background-color: rgb(37, 35, 35);
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(7, 74, 141);
}

.search-button:focus,
input:focus,
.job-details:focus,
.job-info-chip:focus,
.tech-item:focus {
  outline: 0.25rem solid red;
}

/* Tablets & larger Smartphones (from 576px). */
@media only screen and (max-width: 768px) and (min-width: 576px) {
  main {
    justify-content: center;
  }

  .job-result-output-container {
    justify-content: center;
    display: flex;
  }
}

/* Tablets im Querformat (from 768px). */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .search-job-container {
    justify-content: center;
  }
}

/* Larger screens (from 1200px). */
@media only screen and (min-width: 1200px) {
  /* This makes it so that main and aside are displayed side by side. They are as host-child elements of the :host container. */
  :host {
    display: flex;
  }

  aside {
    margin-left: 0.5rem;
    width: 22%;
  }

  main {
    width: 77%;
  }
}
