* {
  font-family: sans-serif;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 0.1rem solid gray;
  padding: 1rem;
  gap: 1rem;
}

.icon-container {
  margin-right: 2rem;
}

.icon-button {
  padding: 0;
  width: 4rem;
  height: 4rem;
}

.icon-button img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 0.3rem solid transparent; /* Reserves space. */
  box-sizing: border-box;
}

.control-buttons {
  display: flex;
  gap: 1rem;
}

button:hover {
  background-color: rgb(68, 71, 76);
  border-radius: 1rem;
}

button:focus {
  outline: 0.25rem solid red;
  border-radius: 40rem;
}

.icon-button:focus {
  border-radius: 10%; /* Makes it almost squared. */
}
