<header>
    <h1>{{currentJob()?.name}}</h1>
</header>

<main>
    <div class="job-details">

        <section class="job-info">
            <p>{{currentJob()?.positionLevel}}</p>
            <p>{{currentJob()?.employmentType}}</p>
        </section>

        <section class="job-summary">
            <p>{{currentJob()?.jobSummary}}</p>
        </section>

        <section class="job-tech-stack">
            <h2>Tech Stack</h2>
            <p>{{currentJob()?.techStack}}</p>
        </section>

        <section class="your-role">
            <h2>Your role</h2>
            @for(role of currentJob()?.yourRole; track $index){
            <ul>
                <li>{{role}}</li>
            </ul>
            }
        </section>

        <section class="our-expectations">
            <h2>Your expectations</h2>
            @for(expectation of currentJob()?.yourExperience; track $index){
            <ul>
                <li>{{expectation}}</li>
            </ul>
            }
            <h3>Qualifications</h3>
            @for(qualifications of currentJob()?.yourQualifications; track $index){
            <ul>
                <li>{{qualifications}}</li>
            </ul>
            }
            <h3>Experience</h3>
            @for(experience of currentJob()?.yourExperience; track $index){
            <ul>
                <li>{{experience}}</li>
            </ul>
            }
        </section>

        <section class="our-offer">
            <h2>Our offer</h2>
            @for(offer of currentJob()?.ourOffer; track $index){
            <ul>
                <li>{{offer}}</li>
            </ul>
            }
        </section>

        <section class="benefits">
            <h2>Benefits</h2>
            @for(benefits of currentJob()?.yourBenefits; track $index){
            <ul>
                <li>{{benefits}}</li>
            </ul>
            }
        </section>

        <section class="job-area-topics">
            @for(themes of currentJob()?.jobThemes; track $index){
            <ul>
                <li>{{themes}}</li>
            </ul>
            }
        </section>

        <section class="about-us">
            <h2>About us</h2>
            <p>{{currentJob()?.aboutUs}}</p>
        </section>

    </div>
</main>