* {
  font-family: sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
}

form {
  display: grid;
}

mat-form-field {
  margin-top: 2rem;
}

button {
  float: right;
}

label {
  margin-top: 2rem;
}

option {
  background-color: black;
}

.field-error {
  color: rgb(168, 1, 1);
}

mat-label {
  color: white;
}

div button:first-child {
  margin-left: 1rem;
}
