:host {
  font-family: sans-serif;
}

mat-icon {
  font-family: 'Material Icons';
}

h1 {
  text-align: center;
}

h4 {
  display: flex;
  justify-content: center;
}

form {
  display: grid;
}

mat-form-field {
  margin-top: 2rem;
}

button {
  float: right;
}

label {
  margin-top: 2rem;
}

option {
  background-color: black;
}

.field-error {
  color: rgb(168, 1, 1);
}

.sr-announcement {
  display: flex;
  justify-content: center;
}

mat-label {
  color: white;
}

.radio-field {
  margin-top: 0.75rem;
  padding: 0.6rem 0.75rem;
  border: 0.1rem solid transparent;
  border-radius: 0.4rem;
}

.file-upload-container {
  display: grid;
  justify-content: center;
  align-items: center;
  outline: 0.25rem dotted blue;

  width: 50%;
  margin: 0rem auto;
  padding: 1rem 1rem;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.file-input:hover {
  cursor: pointer;
}

div button:first-child {
  margin-left: 1rem;
}

button:focus,
.radio-field:focus-within {
  outline: 0.25rem solid red;
}
