<div class="search-job-container">
    <p class="positions-number">{{jobsLength()}} positions have been advertised.</p>

    <form class="form-field-container" (ngSubmit)="onSubmit(enteredInput)" [formGroup]="form">
        <input type="text" placeholder="Tech Stack, Job, City" aria-label="Search field."
            title="Enter a tech stack, like Angular or location or a job title." formControlName="userInput" #enteredInput>
        <button type="submit" matButton="filled">Search</button>
    </form>

    <div class="output-container">

        @if(form.controls.userInput.invalid && (form.controls.userInput.dirty || form.controls.userInput.touched)){
        <p class="error-message">{{inputIsValid}}</p>
        }
        <div class="job-result-output-container">
            @if(!(form.controls.userInput.dirty || form.controls.userInput.touched) || isVisible()){
            @if(filteredJobs().length > 0){

            <div class="job-result-output">
                @for(job of filteredJobs(); track job.id) {
                <div class="job-details">
                    <h2>{{job.name}}</h2>
                    <img class="company-logo" [src]='"../../assets/companies/" + job.companyLogo' [alt]="job.company + ' logo.'">
                    <h2>{{job.company}}</h2>
                    <p>{{job.description}}</p>

                    <div class="job-info-list">
                        @for(info of getJobInfoItems(job); track info.label){
                        <div class="job-info-chip">
                            <span>{{info.value}}</span>
                        </div>
                        }
                    </div>

                    <div class="tech-stack-list">
                        @for(tech of job.techStack; track tech){
                        <div class="tech-item" (click)="onFilterTechStack(tech)">
                            <img class="tech-stack-logo" [src]='"../../assets/tech-stack/" + getTechLogo(tech)'
                                [alt]="job.techStack + ' logo.'">
                            <span>{{tech}}</span>
                        </div>
                        }
                    </div>

                </div>

                }
            </div>

            }@else {
            <p class="error-message">No results found.</p>
            }
            }
        </div>
    </div>
    
</div>