<div class="search-job-container">
    <p>{{jobsLength()}} positions have been advertised.</p>

    <form class="form-field-container" (ngSubmit)="onSubmit(enteredInput)">
        <input type="text" placeholder="Tech Stack, Job, City" aria-label="Search field."
            title="Enter a tech stack, like Angular, or location or a job title." #enteredInput>
        <button type="submit" matButton="filled">Search</button>
    </form>

    @if(isValid()){
    <div class="job-result-output-container">
        @for(job of jobs(); track job.id) {
        <p>{{job.name}} at {{job.company}}</p>
        }
    </div>

    }
</div>